.login-form {
  width          : 100vw;
  min-height     : 100vh;
  display        : flex;
  align-items    : center;
  justify-content: center;
  background     : center/cover no-repeat ivory url('https://svgshare.com/i/eKD.svg1');
  font-size      : 2ch;
  font-weight    : 600;
}

.login-form .login-form_container {
  height          : fit-content;
  width           : 100%;
  display         : flex;
  align-items     : center;
  justify-content : space-evenly;
  padding         : 3rem 0;
  margin          : 1rem 0 2rem 0;
  gap             : 1rem;
  border-radius   : .8rem;
  background-color: var(--honeydew);
}

.login-form .login-form_header {
  margin-left: 1rem;
}

.login-form .login-form_login-section {
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  padding        : 3rem 8rem;
}

.login-form .login-form_login-section .login-section_form {
  display          : flex;
  flex-direction   : column;
  /* gap           : 1rem; */
}

.login-form .login-form_login-section .login-section_password-wrapper {
  position: relative;
  height  : auto;
  width   : 100%;
}

.login-form_login-section .login-section_password {
  padding: 1rem 4rem 1rem 1rem;
}

.login-section_form .login-section_forgot-password {
  margin-top: 1rem;
  align-self: flex-end;
}

.login-form_login-section .button {
  width: 15rem;
}

.login-form .login-form_divider {
  height          : 35rem;
  background-color: #7e807f;
  border          : .0625rem solid #7e807f;
}

.login-form .login-form_container .login-form_create-account-section {
  height          : auto;
  width           : 100%;
  display         : flex;
  align-items     : center;
  justify-content : center;
  gap             : 2rem;
  border-radius   : .4rem;
  margin          : 3rem 4rem;
  background-color: var(--nice-gray);
}

.login-form_create-account-section .create-account-section_col1 {
  height: 100%;
  width : fit-content;
}

.login-form_create-account-section .create-account-section_col1 img {
  max-width    : 100%;
  max-height   : 100%;
  border-radius: .4rem 0 0 .4rem;
}

.login-form_create-account-section .create-account-section_col2 {
  height            : 100%;
  width             : 100%;
  display           : flex;
  flex-direction    : column;
  justify-content   : space-evenly;
  /* padding-right  : 8rem; */
  font-size         : 2ch;
  padding           : 2rem 2rem 2rem 0;
}

.login-form_create-account-section .create-account-section_col2 .button a {
  width           : 12rem;
  background-color: var(--crayola-yellow);
  color           : var(--dark-purple);
}

.login-form_create-account-section .create-account-section_col2 .button a:hover,
.login-form_create-account-section .create-account-section_col2 .button a:focus-visible {
  background-color: var(--crayola-yellow-darker);
  color           : var(--dark-purple);
  transform       : scale(.9);
  transition      : all ease-in-out .3s;
}

.login-form_create-account-section .create-account-section_col2 .button svg {
  color: var(--dark-purple);
}

.login-form_login-section .divider {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  margin         : 1rem 0;
}

.login-form_login-section .divider:after,
.login-form_login-section .divider:before {
  content   : '';
  width     : 45%;
  height    : 0.1rem;
  background: gray;
}

.login-form_login-section .login-section_google-login-btn {
  all             : unset;
  width           : 80%;
  border-radius   : 0.6rem;
  padding         : .8rem 3rem;
  background-color: whitesmoke;
  color           : var(--dark-purple);
  text-transform  : uppercase;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  cursor          : pointer;
  font-weight     : 600;
  font-size       : 2ch;
  transition      : all ease-in-out .5s;
}

.login-form_login-section .login-section_google-login-btn:hover,
.login-form_login-section .login-section_google-login-btn:focus-visible {
  background-color: var(--ash-gray-lighter);
  transform       : scale(.9);
  transition      : all ease-out .3s;
}

.login-wrapper {
  margin         : 1rem 0;
  padding        : 1rem 2rem;
  background     : linear-gradient(130deg, rgb(255 255 255 / 75%), transparent);
  border-radius  : 1rem;
  backdrop-filter: blur(12px);
  max-width      : 380px;
}

.login-form_login-section .login-section_google-login-btn>svg {
  margin-left: 1rem;
}

.login-form_login-section .password-button {
  position        : absolute;
  width           : fit-content;
  height          : auto;
  display         : flex;
  top             : 2.5rem;
  right           : 1rem;
  align-items     : center;
  font-size       : 2.5rem;
  border          : none;
  background-color: transparent;
  cursor          : pointer;
}

.login-form_login-section .password-button svg {
  transition: all 1s ease-in-out;
  color     : var(--ash-gray);
}


.login-form_container .login-form_login-section .error-msg.hidden {
  visibility : hidden;
  height     : fit-content;
  color      : red;
  font-size  : 1.5ch;
  padding-top: -1rem;
}

.login-form_container .login-form_login-section .error-msg {
  visibility : visible;
  height     : fit-content;
  color      : red;
  font-size  : 1.5ch;
  padding-top: -1rem;
}

.login-form_container .login-form_login-section .error-input {
  outline-color: red;
}

.login-form_container .login-form_login-section .error-input:hover,
.login-form_container .login-form_login-section .error-input:focus-visible {
  outline-color: red;
}

@media screen and (max-width: 70rem) {
  .login-form .login-form_container {
    flex-direction: column;
    gap           : 2rem;
  }

  .login-form .login-form_divider {
    height: auto;
    width : 80%;
  }

  .login-form .login-form_container .login-form_login-section {
    padding: 3rem 12rem;
  }

  .login-form .login-form_container .login-form_create-account-section {
    width: 65%;
  }
}

@media screen and (max-width: 50rem) {
  .login-form .login-form_container .login-form_login-section {
    padding: 3rem 5rem;
  }

  .login-form .login-form_container .login-form_create-account-section {
    width: 80%;
  }

  .login-form_create-account-section .create-account-section_col1 {
    width : 100%;
    margin: 2rem 0 2rem 2rem;
  }

  .login-form_create-account-section .create-account-section_col2 {
    width  : 100%;
    padding: 4rem 4rem 4rem 0;
  }
}

@media screen and (max-width: 40rem) {
  .login-form_create-account-section .create-account-section_col1 {
    display: none;
  }

  .login-form_create-account-section .create-account-section_col2 {
    padding: 4rem;
  }

}

@media screen and (max-width: 30rem) {
  .login-form .login-form_container .login-form_create-account-section {
    width: 80%;
  }

  .login-form_create-account-section .create-account-section_col1 {
    display: none;
  }
}