.button-flat {
    border          : none;
    border-radius   : 0.2em;
    padding         : .5em 1.5em;
    background-color: var(--ash-gray);
    color           : black;
}

.button-raised {
    all             : unset;
    max-width       : max-content;
    border-radius   : 0.4em;
    padding         : .5em 2.5em;
    background-color: var(--dark-purple);
    color           : var(--honeydew);
    text-transform  : uppercase;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.button-round {
    all             : unset;
    border-radius   : 7rem;
    background-color: var(--ash-gray);
    padding         : 1rem 1rem;
}

.button-round>svg {
    font-size     : 2rem;
    color         : var(--dark-purple);
    vertical-align: middle;
}

.button-raised.icon>svg,
.button-flat.icon>svg {
    color         : var(--honeydew);
    font-size     : 1.5rem;
    vertical-align: middle;
    margin-left   : 3rem;
}