:root{
  --font-title: 'Playfair Display', serif;
  --crayola-yellow: #EFCB68;
  --rich-black: #000411;
  --just-black: #000000;
  --dark-purple: #160C28;
  --ash-gray: #AEB7B3;
  --honeydew: #E1EFE6;
}

html {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.dark {
  filter: invert(1);
}
