:root {
  --font-title: "Playfair Display", serif;
  --crayola-yellow: #efcb68;
  --rich-black: #000411;
  --just-black: #000000;
  --dark-purple: #160c28;
  --ash-gray: #aeb7b3;
  --honeydew: #e1efe6;
}

html {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.dark {
  filter: invert(1);
}
