.sorting {
    height         : 100%;
    width          : fit-content;
    display        : inline-flex;
    align-items    : center;
    justify-content: space-between;
    gap            : 1rem;
    font-family    : 'Mukta', 'Arial', sans-serif;
    font-weight    : 600;
}

.sorting .selector {
    height             : 2rem;
    border-radius      : .5rem;
    padding            : .5rem;
    /* color           : aqua; */
    font-size          : 1.5ch;
    background-color   : var(--nice-gray);
}

@media screen and (max-width: 75rem) {
    .sorting {
        width: 100%;
    }
}