.cards {
  display: inline-grid;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 100%;
  gap: 1rem;
  overflow-x: hidden;
}

.cards .button > a {
  width: 100%;
}

.cards .MuiCard-root {
  height: auto;
  width: auto;
  margin-inline: 0;
}
