.nav-bar {
    margin: .5rem;
}
.nav-bar_logo{
       
    width: 100%;
}

.nav-bar .nav-bar_items {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    list-style     : none;
}

.nav-bar .nav-bar_middle-btns,
.nav-bar .nav-bar_cta,
.nav-bar .nav-bar_user-controls {

    display: flex;
    gap    : 1rem;
}

.nav-bar_items .nav-bar_cta .nav-bar_cta_login {
    background-color: var(--crayola-yellow);
    color           : var(--dark-purple);
}

.nav-bar_items .nav-bar_user-controls .user-controls-profile-pic {
    all                : unset;
    border-radius      : 7rem;
    background-color   : var(--honeydew);
    padding            : 1rem 2rem;
    background-image   : url('https://i.imgur.com/x8aIlqh.jpg"');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.nav-bar_items .nav-bar_user-controls .user-controls-profile-pic>img {
    width: 100%;
}

.nav-bar .nav-bar_menu {
    display: none;
}

@media screen and (max-width: 67rem) {
    

    
}

@media screen and (max-width: 480px){
    .nav-bar_logo{
        width: 200px;
        position: relative;
        right: 30px;
    }
    .nav-bar_item{
        padding-bottom: 20px;
    }
    .login-sign-btns{ 
        font-size: small;
        text-align: left;
        width: 111px;
        display: inline-block;
        margin: -10px;
        position: relative;
        right: 175%;
    }
    .button-flat{
        display: inline-block;
        width: 110px;
        position: relative;
        top: 100px;
        right: 180px;
        text-align: center;
    }
}