.cartContainer {
  margin: 1rem;
}

.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
}

.totalAndBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}
