.search-bar {
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;
}

.search-bar .search-bar_input {
  height          : 80%;
  width           : 50vw;
  padding         : 1rem;
  border-radius   : .6rem;
  font-size       : 2ch;
  font-weight     : 600;
  text-align      : left;
  outline         : .2rem solid var(--ash-gray);
  border          : none;
  background-color: var(--nice-gray);
  color           : var(--rich-black);
}

.search-bar .search-bar_input:hover,
.search-bar .search-bar_input:focus,
.search-bar .search-bar_input:focus-visible {
  outline        : .4rem solid var(--ash-gray);
  border         : none;
  /* border-width: .5rem; */
  box-shadow     : 0.2rem 0.7rem 1rem -0.2rem var(--ash-gray);
}

.searchIcon {
  background-color: var(--crayola-yellow);
  width           : 5vw;
  border          : none;
  display         : flex;
  justify-content : center;
  align-items     : center;
  border-radius   : 999px;
  cursor          : pointer;
}

@media screen and (max-width: 75rem) {
  .search-bar .search-bar_input {
    height: 80%;
    width : 100%;
  }
}