.selection{
    background-color: var(--crayola-yellow);
    border: 0;
    font-size: 18px;
    font-size: 18px;
    padding: 15px;
    height: 100%;
    width: 25vw;
    border-radius: 999px;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 35px;

}