.course-details {
  font-weight: 600;
}

.course-details_card {
  height               : 100%;
  width                : 100%;
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  margin               : 2rem 0;
  align-items          : flex-start;
  justify-content      : space-between;
  background-color     : white;
  border-radius        : 1.5rem;
  /* inset | offset-x | offset-y | color */
  box-shadow           : 2.3px 16.9px 6.4px hsla(0, 0%, 0%, 0.03), 18px 135px 51px hsla(0, 0%, 49%, 0.37);
}

.course-details_card .course-details_image {
  width        : 100%;
  height       : 100%;
  border-radius: 1.5rem 0 0 1.5rem;
}

.course-details_card .course-details_info {
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  gap            : 1rem;
  padding        : 2rem;
}

.course-details_card .course-details_info_header {
  font-size      : 3.5ch;
  display        : flex;
  justify-content: space-between;
  align-items    : flex-start;
}

.course-details_card .course-details_info_header .favorite-btn {
  font-size : 2ch;
  margin-top: 1rem;
  cursor    : pointer;
}

.course-details_card .course-details_info_author {
  color      : var(--ash-gray);
  font-weight: 400;
}

.course-details .page-container .course-details_back-btn a {
  background-color: var(--crayola-yellow);
  color           : var(--dark-purple);
}

.course-details .page-container .course-details_back-btn a:hover {
  background-color: var(--crayola-yellow-darker);
  color           : var(--lighter-purple);
}

.goBackBtn:hover {
  cursor            : pointer;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.45);
  -moz-box-shadow   : 0px 5px 10px 0px rgba(128, 128, 128, 0.45);
  box-shadow        : 0px 5px 10px 0px rgba(128, 128, 128, 0.45);
  transition        : .2s;
}

a:hover {
  background-color: transparent;
  cursor          : default;
}

.actionsButtons {
  display        : flex;
  justify-content: space-between;
}

.favouriteIcon {
  cursor: pointer;
}

@media screen and (max-width: 72rem) {}